{% extends 'templates/default.twig' %}

{% block content %}

	<section>
		<h2 id="content">{{ trans('menu.nav.course.rules') }}</h2>
		<div class="about-content">
		{{ courseRule|raw }}
		</div>
	</section>

{% endblock %}