<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
    <div class="title">
      <h1 class="h4">Mark Stephen</h1>
      <p>Web Designer</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <span class="heading">主選單</span>
  <ul class="list-unstyled">
    <li class="active"> <a href="{{ path_for('news.index') }}"><i class="icon-home"></i>最新消息</a></li>
    <li><a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>關於我們</a>
      <ul id="dashvariants" class="collapse list-unstyled">
        <li><a href="#">系所簡介</a></li>
        <li><a href="#">組織架構</a></li>
        <li><a href="#">服務團隊</a></li>
        <li><a href="#">服務團隊</a></li>
        <li><a href="#">章程與設置要點</a></li>
      </ul>
    </li>
    <li> <a href="./"><i class="icon-home"></i>系所成員</a></li>
    <li><a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>學位學程 </a>
      <ul id="dashvariants" class="collapse list-unstyled">
        <li><a href="#">緣起與簡介</a></li>
        <li><a href="#">設置辦法</a></li>
        <li><a href="#">修課規定</a></li>
        <li><a href="#">常見問題</a></li>
        <li><a href="#">文件下載</a></li>
      </ul>
    </li>
    <li><a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>核心設施 </a>
      <ul id="dashvariants" class="collapse list-unstyled">
        <li><a href="#">核心實驗室</a></li>
        <li><a href="#">使用規範</a></li>
        <li><a href="#">申請表單</a></li>
      </ul>
    </li>
    <li> <a href="tables.html"> <i class="icon-grid"></i>相關連結 </a></li>
  </ul><span class="heading">系統設定</span>
  <ul class="list-unstyled">
    <li> <a href="#"> <i class="icon-flask"></i>帳號管理 </a></li>
    <li> <a href="#"> <i class="icon-screen"></i>密碼變更 </a></li>
    <li> <a href="#"> <i class="icon-mail"></i>登出 </a></li>
  </ul>
</nav>