div.box{
	border-top:0 !important;
	border-left:0 !important;
	border-right:0 !important;
}

div.tearcherGridBox{
	display: grid;
	grid-template-columns: 0.25fr 0.75fr;
	grid-template-rows: auto;
	grid-template-areas: " photo container";
	box-sizing: border-box;
}

@media (max-width:900px){

	div.tearcherGridBox{
		display: block;
	}

	p{
		text-align:initial !important;
	}

	.photo{
		max-width: 100%;
	}

	.container{
		max-width: 100%;
	}
}

@media (max-width: 675px)
{
	div.tabHeader{
		height: auto !important;
	}

	div.tab{
		text-align: left !important;
	}
}

.photo{
	text-align: center;
	grid-area: photo;
}

.container{
	grid-area: container;
}

.photo img{
	width:150px;
	height:150px;
}

.container p{
	padding:0 !important;
	margin:0 !important;
}

div.tabHeader{
	border-bottom:1px solid gray;
	box-sizing: border-box;
	height:40px;
}

div.tab{
	display:inline-block;
	width:150px;
	text-align:center;
	vertical-align:middle;
	height:40px;

}

div.tab div{
	display:table;
	height:40px;
	padding-bottom:5px;
}

div.tab h3{
	display:table-cell;
	margin:0 !important;
	vertical-align:middle;
	padding: 0 5px 0 5px;
	/*width:150px;*/	
}

div.tab h3:hover{
	cursor:pointer;
	background-color:rgb(203, 67, 53);
	color:white;
	border:1px solid rgb(203, 67, 53);
	border-radius:5px;
	height:35px;
	/*width: 150px;*/
}

h3.active{
	cursor:pointer;
	background-color:rgb(203, 67, 53);
	color:white;
	border:1px solid rgb(203, 67, 53);
	border-radius:5px;
	height:35px;
	width: 150px;
}

div.tab-inner{
	display: none;
}

div.show{
	display: block !important;
}
