<header id="header">
	<a href="index.html" class="logo"><strong>{{ trans('home.header.title') }}</strong> <small>{{ trans('home.header.sub-title') }}</small></a>
	<ul class="icons">
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<li><a href="{{ base_url() }}?lang=zh-tw" style="border-bottom:0;">中文</a></li>
		<li><a href="{{ base_url()}}?lang=en" style="border-bottom:0;">English</a></li>
	</ul>
</header>