{% extends 'templates/default.twig' %}

{% block content %}

	<section>
		<h2 id="content">{{ trans('menu.nav.regulations') }}</h2>
		<div class="about-content">
		{{ courseRegulation|raw }}
		</div>
	</section>

{% endblock %}